<svg id="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
  ><defs
    ><style>
      .cls-1 {
        fill: #ff8a14;
      }
      .cls-2 {
        fill: #adc4d9;
      }
      .cls-2,
      .cls-5,
      .cls-7,
      .cls-8,
      .cls-9 {
        stroke: #45413c;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
      .cls-3 {
        fill: #ffe500;
      }
      .cls-4 {
        fill: #fff48c;
      }
      .cls-5 {
        fill: none;
      }
      .cls-13,
      .cls-6 {
        fill: #45413c;
      }
      .cls-6 {
        opacity: 0.15;
      }
      .cls-7 {
        fill: #fff;
      }
      .cls-8 {
        fill: #ff6242;
      }
      .cls-9 {
        fill: #6dd627;
      }
      .cls-10 {
        fill: #ffaa54;
      }
      .cls-11 {
        fill: #c0dceb;
      }
      .cls-12 {
        fill: #daedf7;
      }
    </style></defs
  ><title>93-robot-face-2</title><path
    id="_Path_"
    data-name="<Path>"
    class="cls-1"
    d="M2.34,39A4.06,4.06,0,0,1,1.16,33.4l7.47,4.86A4.05,4.05,0,0,1,3,39.45Z"
  ></path><path
    id="_Path_2"
    data-name="<Path>"
    class="cls-2"
    d="M33.5,17h-9l.58-2.38A1.46,1.46,0,0,1,26.5,13.5h5a1.47,1.47,0,0,1,1.42,1.11Z"
  ></path><path
    class="cls-3"
    d="M29,16A14.5,14.5,0,0,0,14.5,30.5V41A3.5,3.5,0,0,0,18,44.5H40A3.5,3.5,0,0,0,43.5,41V30.5A14.5,14.5,0,0,0,29,16Z"
  ></path><path
    class="cls-4"
    d="M29,16A14.5,14.5,0,0,0,14.5,30.5v4a14.5,14.5,0,0,1,29,0v-4A14.5,14.5,0,0,0,29,16Z"
  ></path><path
    class="cls-5"
    d="M29,16A14.5,14.5,0,0,0,14.5,30.5V41A3.5,3.5,0,0,0,18,44.5H40A3.5,3.5,0,0,0,43.5,41V30.5A14.5,14.5,0,0,0,29,16Z"
  ></path><ellipse
    id="_Ellipse_"
    data-name="<Ellipse>"
    class="cls-6"
    cx="29"
    cy="46.5"
    rx="16.5"
    ry="1.5"></ellipse><circle
    id="_Ellipse_2"
    data-name="<Ellipse>"
    class="cls-7"
    cx="35.89"
    cy="29.08"
    r="4.46"></circle><circle
    id="_Ellipse_3"
    data-name="<Ellipse>"
    class="cls-8"
    cx="35.89"
    cy="29.08"
    r="1.62"></circle><circle
    id="_Ellipse_4"
    data-name="<Ellipse>"
    class="cls-7"
    cx="22.11"
    cy="29.08"
    r="4.05"></circle><circle
    id="_Ellipse_5"
    data-name="<Ellipse>"
    class="cls-9"
    cx="22.11"
    cy="29.08"
    r="1.62"></circle><line
    id="_Line_"
    data-name="<Line>"
    class="cls-5"
    x1="29"
    y1="16"
    x2="29"
    y2="38"></line><line
    id="_Line_2"
    data-name="<Line>"
    class="cls-5"
    x1="35.89"
    y1="26.25"
    x2="35.89"
    y2="24.62"></line><line
    id="_Line_3"
    data-name="<Line>"
    class="cls-5"
    x1="37.9"
    y1="27.08"
    x2="39.04"
    y2="25.93"></line><line
    id="_Line_4"
    data-name="<Line>"
    class="cls-5"
    x1="38.73"
    y1="29.08"
    x2="40.35"
    y2="29.08"></line><line
    id="_Line_5"
    data-name="<Line>"
    class="cls-5"
    x1="37.9"
    y1="31.09"
    x2="39.04"
    y2="32.24"></line><line
    id="_Line_6"
    data-name="<Line>"
    class="cls-5"
    x1="35.89"
    y1="31.92"
    x2="35.89"
    y2="33.54"></line><line
    id="_Line_7"
    data-name="<Line>"
    class="cls-5"
    x1="33.88"
    y1="31.09"
    x2="32.74"
    y2="32.24"></line><line
    id="_Line_8"
    data-name="<Line>"
    class="cls-5"
    x1="33.05"
    y1="29.08"
    x2="31.43"
    y2="29.08"></line><line
    id="_Line_9"
    data-name="<Line>"
    class="cls-5"
    x1="33.88"
    y1="27.08"
    x2="32.74"
    y2="25.93"></line><polyline
    id="_Path_3"
    data-name="<Path>"
    class="cls-5"
    points="29 13.5 29 11.5 33.5 10 28 5 36 7 38.03 2.53"></polyline><circle
    id="_Ellipse_6"
    data-name="<Ellipse>"
    class="cls-8"
    cx="38.03"
    cy="2.53"
    r="2.03"></circle><path
    id="_Path_4"
    data-name="<Path>"
    class="cls-5"
    d="M14.5,36.38s-.5-5.27-2.93-4.87c-2.88.49-2,7.71.41,7.3,2-.34-1.62-6.89-4.46-6.08C5.93,33.19,5.1,35.25,5,35.92"
  ></path><path
    id="_Path_5"
    data-name="<Path>"
    class="cls-10"
    d="M1.08,33.55a4.76,4.76,0,0,0,2.26,4l.77.5a4.81,4.81,0,0,0,4.26.57,2,2,0,0,0,.26-.32L1.16,33.4A1.09,1.09,0,0,0,1.08,33.55Z"
  ></path><path
    id="_Path_6"
    data-name="<Path>"
    class="cls-5"
    d="M2.34,39A4.06,4.06,0,0,1,1.16,33.4l7.47,4.86A4.05,4.05,0,0,1,3,39.45Z"
  ></path><path class="cls-1" d="M47.5,35.5a4,4,0,0,1-4,4v-9a4,4,0,0,1,4,4Z"
  ></path><path
    class="cls-10"
    d="M43.5,30.5v2a4,4,0,0,1,4,3.5,4.07,4.07,0,0,0,0-.5v-1A4,4,0,0,0,43.5,30.5Z"
  ></path><path class="cls-5" d="M47.5,35.5a4,4,0,0,1-4,4v-9a4,4,0,0,1,4,4Z"
  ></path><rect
    class="cls-11"
    x="18.5"
    y="38"
    width="21"
    height="8"
    rx="1.5"
    ry="1.5"></rect><path
    class="cls-12"
    d="M38,38H20a1.5,1.5,0,0,0-1.5,1.5v2A1.5,1.5,0,0,1,20,40H38a1.5,1.5,0,0,1,1.5,1.5v-2A1.5,1.5,0,0,0,38,38Z"
  ></path><rect
    class="cls-5"
    x="18.5"
    y="38"
    width="21"
    height="8"
    rx="1.5"
    ry="1.5"></rect><path
    class="cls-13"
    d="M20.5,39.5a.5.5,0,1,0,.5.5.5.5,0,0,0-.5-.5Z"></path><path
    class="cls-13"
    d="M37.5,39.5a.5.5,0,1,0,.5.5.5.5,0,0,0-.5-.5Z"></path></svg
>
<path d="M945.32165869 612.96708098c-51.57440475 200.4980875-232.06410871 349.57366275-448.66280023 349.57366275-185.65404865 0-350.67833543-113.10467182-417.71815739-272.4675112v-5.13672785c-5.16434468-10.27345573-10.31488095-30.84798398-5.16434466-51.40870385 5.16434468-15.423992 10.31488095-25.71125612 20.62976188-35.98471185l5.15053627-5.13672786c5.16434468-5.13672786 10.31488095-5.13672786 15.47922564-10.28726413 0 0 5.16434468 0 5.16434467-5.13672786 51.57440475-20.56071985 123.76476297-25.71125612 216.5986915-10.27345573 51.57440475 10.27345573 134.07964391 41.12143971 206.27000215 66.83269585 30.94464285 10.28726414 278.47416879 92.53014355 417.71815737-118.24139968 0-0.01380842 0 56.53162329-15.4654172 97.66687141z" p-id="7255" fill="#1296db"></path><path d="M634.88102485 340.49956978h41.25952379l5.15053627-92.53014355h-51.56059634zM340.94143884 340.49956978H382.20096263l5.15053627-92.53014355h-51.57440473z" p-id="7256" fill="#1296db"></path><path d="M933.98495553 319.93884993s-10.31488095-66.83269584-51.57440475-102.81740769H815.37072882c-72.20416663-92.53014355-185.65404865-154.22611152-314.5831563-154.22611154s-242.37898967 61.69596797-314.58315632 154.22611154h-72.19035822c-41.25952379 35.98471185-51.57440475 102.81740768-51.57440474 102.81740769l10.31488096 10.2734557 41.25952378 51.40870385c-5.16434468 25.69744772-10.31488095 56.5454317-10.31488095 87.3934157v30.84798398c20.6297619-5.13672786 123.76476297-35.98471185 252.69387062-15.42399199 72.20416663 10.27345573 206.28381055 77.10615156 293.95339441 82.25668783 144.39452486 10.27345573 226.89976405-87.39341568 242.37898967-113.10467182 0-25.71125612-5.16434468-51.40870384-10.31488095-77.11995996l41.25952379-46.27197597 10.31488096-10.25964732zM511.11626187 407.33226562c-92.83392853 0-309.41881163 41.13524812-273.3236325-102.81740769 41.25952379-179.92355925 268.17309625-174.78683138 273.3236325-174.78683138 0 0 226.89976405-5.13672786 273.32363251 174.78683138 36.09517911 143.93884739-180.48970398 102.81740768-273.32363251 102.81740769z" p-id="7257" fill="#1296db"></path>